@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background: black;
  color: white;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* LOADING OVERLAY */

.smile-text {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation:
    dash-stoke 3500ms ease-in-out forwards,
    fill-end 3500ms ease-in forwards;
  animation-delay: 9500ms;
  stroke: var(--frosh-group-stroke);
  stroke-linecap: round;
  font-size: 240px;
  height: 300px;
  width: 100%;
  margin-bottom: 0px;
  fill-opacity: 0;
  margin-bottom: -10px;
}

@keyframes dash-stoke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-end {
  0% {
    fill: var(--black);
    fill-opacity: 0;
    stroke-width: 8px;
  }
  95% {
    fill: var(--black);
    fill-opacity: 0;
    stroke-width: 8px;
  }
  100% {
    fill: var(--black);
    fill-opacity: 1;
    stroke-width: 0;
  }
}

.black-screen {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
