@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    /* use for titles / big messages */
    @apply text-2xl;
  }
  h2 {
    /* use for numbers */
    @apply text-xl;
  }
  h3 {
    /* use for other text */
    @apply text-lg;
  }
}

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

body {
  background: black;
  color: white;
}

/* LOADING OVERLAY */

.loading-title {
  position: relative;
  animation: 2s linear fade-in-from-top;
}

.loading-subtitle {
  position: relative;
  animation: 2s linear fade-in-from-top-delay;
}

.loading-countdown {
  opacity: 0;
  animation: countdown-pulse 1500ms ease-in-out 3 3s;
}

.ending-text {
  /* font-size: 150px; */
  /* height: 30px; */
  width: 100%;
  /* margin-top: 50px;
  margin-bottom: 50px; */
}

@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    top: -20px;
  }
  25%,
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes fade-in-from-top-delay {
  0%,
  50% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes countdown-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
